# ===========================
# King-Void-MDX Configuration
# ===========================

SESSION_ID="your_session_id"

PREFIX="."

BOT_LANG="en"

SUDO="234xxxxxxxxxx"

STICKER_PACKNAME="King Void 👑"

VPS="true"

AUTO_UPDATE="true"
